<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%=homeContent %></p>

<% myArray.forEach(function(item){ %>
<h1><%=item.title%></h1>
<p><%=item.content.substring(0,100)+ "..." %>
<a href="posts/<%=item.title %>">Read more</a>
</p>

<% }); %>

<%- include("partials/footer"); -%>
